@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3>SELECT STUDENT VIA WEB API</h3>
<form asp-action="Students" method="get">
    <input name="Id" placeholder="Enter a country" />
    <input type="submit" />
</form>